@import "~bootstrap/scss/bootstrap.scss";

/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/

.sup{
    width: 10px;
    height: 90px;
    background:black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container{
    width: 100px;
    height: 270px;
    background:black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.red-light{
    background: red;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.yellow-light{
    background:yellow;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.green-light{
    background:green;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}