@import "~bootstrap/scss/bootstrap.scss";

.sup{
    width: 10px;
    height: 90px;
    background:black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container{
    width: 100px;
    height: 270px;
    background:black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:7px;
}
.red-light{
    background: red;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px};
}
.yellow-light{
    background:yellow;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px};
}
.green-light{
    background:green;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px};
}